<main class="l-map is-<%= @country %>">
  <div id="map"><div>
    <nav class="map-nav is-<%= @country %>">
      <ul>
        <li><%= link_to 'DE', map_path('de'), class: "de" %></li>
        <li><%= link_to 'AT', map_path('at'), class: "at" %></li>
        <li><%= link_to 'CH', map_path('ch'), class: "ch" %></li>
      </ul>
    </nav>
</main>

<script>

 <%= render 'shared/map'%>

 var clusters = {};
 <% @cities.each do |city| %>
   clusters["<%= city %>"] = L.markerClusterGroup();
   <% @users.select {|user| user.city == city}.each do |user| %>
     clusters["<%= city %>"].addLayer(
       L.marker(
           [<%= user.latitude %>, <%= user.longitude %>],
           { icon: marker })
        .bindTooltip('<%= user.name %>')
        .on('click', function (ev) {
          window.location = '<%= user_path(user.id) %>';
        }));
   <% end %>
 map.addLayer(clusters["<%= city %>"]);
 <% end %>
</script>
