<div id="map"></div>
<script>
    var map = L.map('map',{
    center: <%= @center %>,
    zoom: <%= @zoom %>,
    });
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var clusters = {};
    <% @cities.each do |city| %>
      clusters["<%= city %>"] = L.markerClusterGroup();
      <% @users.select {|user| user.city == city}.each do |user| %>
        clusters["<%= city %>"].addLayer(L.marker(
          [<%= user.latitude %>, <%= user.longitude %>]
        ))
      <% end %>
      map.addLayer(clusters["<%= city %>"]);
    <% end %>
</script>
