<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-field field">
    <%= f.label :city, "Stadt" %>
    <%= f.text_field :city %>
  </div>
  <div class="form-field field">
    <%= f.label :country, "Land" %>
    <%= f.select :country, User::COUNTRIES.to_a.map(&:reverse) %>
  </div>
  <div class="form-field field">
    <%= f.label :email, "E-Mail" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-field field">
    <%= f.label :year_of_birth, "Geburtsjahr" %>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="form-field field">
    <%= f.label :website, "Webseite" %>
    <%= f.text_field :website %>
  </div>
  <div class="form-field field">
    <%= f.label :facebook_link, "Facebook-Link" %>
    <%= f.text_field :facebook_link %>
  </div>
  <div class="form-field field">
    <%= f.label :video_link, "Video-Link" %>
    <%= f.text_field :video_link %>
  </div>
  <div class="form-field field">
    <%= f.label :is_available_on, "Is available on (multiple choice)" %>
    <%= f.select :is_available_on,
        [
            ['N/A', 1],
            ['Weekends', 2],
            ['Work Days', 3],
            ['Public Holidays', 4],
            ['Vacations', 5],
            ['Request', 6],
            ['Always', 7],
            ['Currently Not Available for Booking', 8]
          ], {}, multiple: true
    %>
  </div>

  <% if current_user.admin? %>
    <div class="form-field field">
      <%= f.label :public do %>
        Öffentlich?
        <%= f.check_box :public %>
      <% end %>
    </div>
    <div class="form-field field">
      <%= f.label :admin do %>
        Admin?
        <%= f.check_box :admin %>
      <% end %>
    </div>
  <% end %>
  <% if show_password_fields %>
    <div class="form-field field">
      <%= f.label :password, "Passwort" %>
      <%= f.password_field :password %>
    </div>
    <div class="form-field field">
      <%= f.label :password_confirmation, "Passwort bestätigen" %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
