<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city, "Stadt" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country, "Land" %><br>
    <%= f.select :country, User::COUNTRIES.to_a.map(&:reverse) %>
  </div>
  <div class="field">
    <%= f.label :email, "E-Mail" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :year_of_birth, "Geburtsjahr" %><br>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="field">
    <%= f.label :website, "Webseite" %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :facebook_link, "Facebook-Link" %><br>
    <%= f.text_field :facebook_link %>
  </div>
  <div class="field">
    <%= f.label :public, "Öffentlich?" %><br>  
    <%= f.check_box :public %>  
  </div>
  <% if show_password_fields %>
    <div class="field">
      <%= f.label :password, "Passwort" %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Passwort bestätigen" %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
