<% if current_user && @user %>
  <%= render "profile_form_nav" %>
<% end %>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-t-l form-field field">
    <%= f.label :name, "Name *" %>
    <%= f.text_field :name %>
  </div>
  <div class="m-t-l form-field field">
      <%= f.label :pronouns, "Pronomen *" %>
      <%= f.text_field :pronouns %>
  </div>
  <div class="form-field field">
    <%= f.label :city, "Stadt *" %>
    <%= f.text_field :city %>
    <p><small>Bitte nur eine Stadt angeben!</small></p>
  </div>
  <div class="form-field field">
    <%= f.label :country, "Land *" %>
    <%= f.select :country, User::COUNTRIES.to_a.map(&:reverse) %>
  </div>
  <div class="form-field field">
    <%= f.label :email, "E-Mail *" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-field field">
    <%= f.label :year_of_birth, "Geburtsjahr *" %>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="form-field field">
    <%= f.label :website, "Webseite" %>
    <%= f.text_field :website %>
  </div>
  <div class="form-field field">
    <%= f.label :facebook_link, "Facebook-Link" %>
    <%= f.text_field :facebook_link %>
  </div>
  <div class="form-field field">
    <%= f.label :video_link, "Video-Link" %>
    <%= f.text_field :video_link %>
    <p><small>Der Link sollte mit `https://` anfangen. Unterstützt werden Youtube und Vimeo.</small></p>
  </div>
  <div class="form-field field">
    <%= image_tag @user.avatar_url(:medium), class: "avatar-preview" if @user.avatar? %>
    <%= f.label :avatar, "Profilbild hochladen" %>
    <%= f.file_field :avatar %>
    <p><small>Am besten quadratisch als PNG oder JPG.</small></p>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <% if action_name != 'new' %>
    <div class="form-field">
      <label>
        <%= f.check_box :remove_avatar %>
        Profilbild entfernen
      </label>
    </div>
  <% end %>

  <div class="form-field field">
    <p class="title-sub">Unterwegs als</p>
    <% User::BOOKABLE_AS.each.with_index do |option, index| %>
      <%= label_tag "bookable_as_#{index}", class: 'label-thin' do %>
        <%= check_box_tag :'user[bookable_as][]', index, @user.bookable_as.include?(index.to_s), id: "bookable_as_#{index}" %>
        <%= option %>
      <% end %>
    <% end%>
  </div>

  <% if show_travel_fields %>
    <div class="form-field field">
      <div class="form-field field">
        <%= f.label :custom_availability, "Verfügbarkeit" %>
        <%= f.text_area(:custom_availability, rows: 5) %>
        <p><small>Wann/wie kannst du auftreten? Nur am Wochenende, nur unter bestimmten Bedingungen? Reist du mit Kind oder Hund?</small></p>
      </div>
    </div>
    <div class="form-field field">
      <%= f.label :will_travel, "Reisebereitschaft *" %>
      <% User::WILL_TRAVEL.each.with_index do |option, index| %>
        <%= f.radio_button(:will_travel, option[0], checked: (@user.will_travel == option[0] ? true : false)) %> <%= option[1] %>
      <% end %>
    </div>
    <div class="form-field field">
      <p class="title-sub">Fortbewegungmittel *</p>
      <p><small>Bitte achte darauf, dass mindst. eine Checkbox aktiviert ist (siehe Erläuterung unter Verfügbarkeit).</small></p>
      <% User::TRAVELS_VIA_OPTIONS.each.with_index do |option, index| %>
        <%= label_tag "travels_via_#{index}", class: 'label-thin' do %>
          <%= check_box_tag :'user[travels_via][]', index, @user.travels_via.include?(index.to_s), id: "travels_via_#{index}" %>
          <%= option %>
        <% end %>
      <% end %>
    </div>

    <div class="form-field field">
      <p class="title-sub">Bahncards</p>
      <% User::TRAIN_BONUS_CARDS.each.with_index do |option, index| %>
        <%= label_tag "train_bonus_card_#{index}", class: 'label-thin' do %>
          <%= check_box_tag :'user[train_bonus_card][]', index, @user.train_bonus_card.include?(index.to_s), id: "train_bonus_card_#{index}" %>
          <%= option %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="form-field field">
    <%= f.label :recommended_by do %>
      Welche Slam Alpha hat dich empfohlen?
      <%= collection_select(:user, :recommended_by, User.alphas, :id, :name, :include_blank => "keine") %>
    <% end %>
    <p>Wenn ihr noch keine von uns kennt, <a href="mailto:office@slamalphas.org">meldet euch bei uns</a>! Wir empfehlen euch gerne!</p>
  </div>

  <% if current_user.present? && current_user.admin? %>
    <hr class="m-t-l m-b-l">

    <div class="form-field field">
      <%= f.label :public do %>
        Öffentlich?
        <%= f.check_box :public %>
      <% end %>
    </div>
    <div class="form-field field">
      <%= f.label :alpha do %>
        Alpha?
        <%= f.check_box :alpha %>
      <% end %>
    </div>
    <div class="form-field field">
      <%= f.label :admin do %>
        Admin?
        <%= f.check_box :admin %>
      <% end %>
    </div>
  <% end %>


  <% if show_password_fields %>
    <div class="form-field field">
      <%= f.label :password, "Passwort*" %>
      <%= f.password_field :password %>
    </div>
    <div class="form-field field">
      <%= f.label :password_confirmation, "Passwort bestätigen*" %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="actions m-b-l">
    <%= f.submit(user_submit_label) %>
  </div>
<% end %>
