<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p style="color:#e63831">Felder mit * sind Pflichtfelder</p>

  <div class="form-field field">
    <%= f.label :name, "Name*" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-field field">
    <%= f.label :city, "Stadt*" %>
    <%= f.text_field :city %>
  </div>
  <div class="form-field field">
    <%= f.label :country, "Land*" %>
    <%= f.select :country, User::COUNTRIES.to_a.map(&:reverse) %>
  </div>
  <div class="form-field field">
    <%= f.label :email, "E-Mail*" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-field field">
    <%= f.label :year_of_birth, "Geburtsjahr*" %>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="form-field field">
    <%= f.label :website, "Webseite" %>
    <%= f.text_field :website %>
  </div>
  <div class="form-field field">
    <%= f.label :facebook_link, "Facebook-Link" %>
    <%= f.text_field :facebook_link %>
  </div>
  <div class="form-field field">
    <%= f.label :video_link, "Video-Link" %>
    <%= f.text_field :video_link %>
  </div>
  <div class="form-field field">
    <%= f.label :is_available_on, "Verfügbarkeit" %>
    <small>Mehrfachauswahl möglich mit CMD + Maus-Klick (Mac) / STRG + Maus-Klick (Win/Linux)</small>
    <% User::AVAILABLE_OPTIONS.each.with_index do |option, index| %>
      <%= label_tag "is_available_on_#{index}" do %>
        <%= check_box_tag :'user[is_available_on][]', index, @user.is_available_on.include?(index.to_s), id: "is_available_on_#{index}" %>
        <%= option %>
      <% end %>
    <% end %>
  </div>
  <div class="form-field field">
    <%= f.label :will_travel, "Reisebereitschaft" %><br />
    <%= f.radio_button(:will_travel, '50', checked: true) %> innerhalb von 50km
    <%= f.radio_button(:will_travel, '100', checked: false) %> innerhalb von 100km
    <%= f.radio_button(:will_travel, '300', checked: false) %> innerhalb von 300km
    <%= f.radio_button(:will_travel, 'jede', checked: false) %>jede Entfernung
    <%= f.radio_button(:will_travel, 'keine', checked: false) %>keine Reisebereitschaft
  </div>
  <% if current_user.present? && current_user.admin? %>
    <div class="form-field field">
      <%= f.label :public do %>
        Öffentlich?
        <%= f.check_box :public %>
      <% end %>
    </div>
    <div class="form-field field">
      <%= f.label :admin do %>
        Admin?
        <%= f.check_box :admin %>
      <% end %>
    </div>
  <% end %>

  <div class="form-field field">
    <%= f.label :recommended_by do %>
      Welche Slam Alpha hat dich empfohlen?*
      <%= collection_select(:user, :recommended_by, User.alphas, :id, :name) %>
    <% end %>
  </div>

  <% if show_password_fields %>
    <div class="form-field field">
      <%= f.label :password, "Passwort*" %>
      <%= f.password_field :password %>
    </div>
    <div class="form-field field">
      <%= f.label :password_confirmation, "Passwort bestätigen*" %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
