<div class="admin-wrapper">

<h1 class="title-main">Change password</h1>

<%= form_for(@user, url: update_password_user_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="form-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-field actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Change Password', change_password_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
