<div class="admin-wrapper">
  <h1 class="title-main">Profil ändern</h1>

  <%= render partial: '/users/form', locals: { show_password_fields: false } %>

  <br>
  <hr>
  <h1 class="title-main" style="padding-top: 15px"> Profil löschen</h1>

    <p style:"padding-top: 10px">ACHTUNG! Dies löscht das gesamte Profil endgültig!</p>

  <%= form_for(@user, method: :delete, data: {confirm: "Willst du dieses Profil wirklich löschen?"}) do |f| %>
    <div class="actions">
      <%= f.submit("Profil löschen", class: "delete-button") %>
    </div>
  <% end %>

  <br>
  <hr>

  <div class="other-links">
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
