<div class="admin-wrapper">
  <h1 class="title-main">Profil ändern</h1>

  <%= render partial: '/users/form', locals: { show_password_fields: false, show_travel_fields: false } %>

  <hr class="m-t-m">
  <h1 class="title-main m-t-m"> Profil löschen</h1>

    <p>ACHTUNG! Dies löscht das gesamte Profil endgültig!</p>

  <%= form_for(@user, method: :delete, data: {confirm: "Willst du dieses Profil wirklich löschen?"}) do |f| %>
    <div class="actions">
      <%= f.submit("Profil löschen", class: "delete-button") %>
    </div>
  <% end %>

  <hr class="m-t-m">

  <div class="other-links m-t-m">
    <%= link_to 'Zum Profil', @user %> |
    <%= link_to 'Zurück', users_path %>
  </div>
</div>
