<p id="notice"><%= notice %></p>

<section>
<h1 class="title-main">Finde Slammerinnen</h1>
<div id="map"></div>


  <ul class="">
    <% @users.each do |user| %>
      <li>
        <h2 class="title-sub"><%= user.name %> <small>(<%= user.city %>, <%= user.country_name %>)</small></h2>
        <p><%= user.email %></p>
        <p><a href="<%= user.website %>"><%= user.website %></a></p>
        <p><a href="<%= user.facebook_link %>"><%= user.facebook_link %></a></p>
        <p><a href="<%= user.video_link %>"><%= user.video_link %></a></p>
        <p>
        <%= link_to 'Show', user %> |
        <%= link_to 'Edit', edit_user_path(user) %> |
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </li>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', sign_up_path %>

<script>
    var map = L.map('map',{
    center: [50.931, 11.272],
    zoom: 6
    });

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    <% @users.each do |user| %>
      L.marker(
        [<%= user.latitude %>, <%= user.longitude %>]
      ).addTo(map);
    <% end %>
</script>
