<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div id="map"></div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Email</th>
      <th>Age</th>
      <th>Website</th>
      <th>Facebook Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.city %></td>
        <td><%= user.country %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.website %></td>
        <td><%= user.facebook_link %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<script>
    var map = L.map('map',{
    center: [50.931, 11.272],
    zoom: 6
    });

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker([50.931, 11.272]).addTo(map);

</script>
