<p id="notice"><%= notice %></p>

<article class="slam-profile">
  <button class="profile-button" type="button" title="close profile">X</button>
  <p class="profile-alphabadge"><%= user_alpha_or_recommended(@user) %></p>
  <header>
      <h1 class="title-sub">
        <% if admin_user_public?(current_user, @user) %>
           <span title="Profil is öffentlich">📍</span>
        <% end %>
        <%= @user.name %></h1>
        <p class="profile-location"><%= @user.city %> (<%= @user.country.upcase %>)</p>
    </header>
    <div>
      <% if signed_in_as?(@user) && !@user.public? %>
        <p class="profile-notice">Du kannst dein eigenes Profil sehen aber es ist nicht öffentlich zugänglich.</p>
      <% end %>
      <% if @user.year_of_birth %>
        <p><%= @user.age %> Jahre alt</p>
      <% end %>
      <% if @user.website %>
        <p><a href="<%= @user.website %>" title="Besuche <%= @user.name %>s website"><%= @user.website_clean %></a></p>
      <% end %>
      <% if @user.facebook_link %>
        <p><a href="<%= @user.facebook_link %>" title="<%= @user.name %> bei Facebook">Facebook-Seite</a></p>
      <% end %>
    <div class="profile-links">
      <% if show_edit_links?(@user) %>
        <%= link_to '📎 Bearbeiten', edit_user_path(@user) %>
      <% end %>

      <noscript><%= link_to 'Zurück zur Übersicht', users_path() %></noscript>
      <script>document.write('<%= link_to "Zurück zur Karte", map_path(country: @user.country) %>');</script>
    </div>
  </div>
</article>
<div class="l-map">
  <div id="map"><div>
    <nav class="map-nav is-<%= @user.country  %>">
      <ul>
        <li><%= link_to 'DE', map_path('de'), class: "de" %></li>
        <li><%= link_to 'AT', map_path('at'), class: "at" %></li>
        <li><%= link_to 'CH', map_path('ch'), class: "ch" %></li>
      </ul>
    </nav>
  </div>

  <script>

   <%= render 'shared/map' %>

   var marker = L.marker([<%= @user.latitude %>, <%= @user.longitude %>],
                         { icon: marker }).addTo(map);
   marker.bindTooltip('<%= @user.name %>');
   marker.on('click', function (ev) {
     if (document.querySelector('.slam-profile').classList.contains('is-hidden')) {
       document.querySelector('.slam-profile').classList.remove('is-hidden');
     }
   });
  </script>
