<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Stadt:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Land:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Geburtsjahr:</strong>
  <%= @user.year_of_birth %>
</p>

<p>
  <strong>Webseite:</strong>
  <a href="<%= @user.website %>">Webseite</a>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Change Password', change_password_user_path(@user) %> | 
<%= link_to 'Back', users_path %>
