<aside class="l-alphabet">
  <a class="mobile-only title-sub mobile-nav-toggle" href="#" title="Alle Slammerinnen">Alle anzeigen</a>
  <ul class="desktop-only">
    <% if @list.present? %>
        <% @list.each do |char| %>
        <li><%= link_to char, "#{char.downcase}" %></li>
      <% end %>
    <% end %>
  </ul>
</aside>
<div class="list-position-wrapper">
  <button class="list-button" type="button" title="close list">X</button>
  <div class="list-alphabet">
    <ul>
      <% @alphas.each_with_index do |user, i| %>
        <% if @alphas[i-1].transliterate_last_name.upcase.first != user.transliterate_last_name.upcase.first || i == 0 %>
          <li><h3 class="title-main <%= user.transliterate_last_name.first.downcase %>"><%= user.transliterate_last_name.first %></h3></li>
        <% end %>
        <li><%= link_to user_path(user.id), {title: "Zu #{user.name}s Profil"}  do %>
          <%= user.name %> (<%= user.country.upcase %>)
        <% end %></li>
      <% end %>
    </ul>
  </div>
</div>
