<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SlamAlphas</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
  <body>
    <div class="l-wrapper">
      <header class="l-header">
        <div class="l-logo">
          <h1 class="logo">
            <a href="/" title="Slam Alphas">
              <span class="logo-name">Slam Alphas</span>
              <span class="logo-symbol" aria-hidden="true"></span>
            </a>
          </h1>
          <button class="logo-burger" type="button" title="open navigation">&#9776;</button>
        </div>

        <%=render partial:"shared/navigation"%>

      </header>
      <aside class="l-alphabet">
        <ul>
          <li><a href="#">a</a></li>
          <li><a href="#">b</a></li>
          <li><a href="#">c</a></li>
          <li><a href="#">d</a></li>
        </ul>
      </aside>
      <main class="l-main">
        <div class="l-content--noflex">
          <%= flash[:alert] %>
          <%= yield %>

        </div>
      </main>
    </div>
  </body>
</html>
