<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>SlamAlphas</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
  <body>

    <%= render partial: "shared/adminbar" %>

    <div class="l-wrapper">
      <header class="l-header">
        <div class="l-logo">
          <h1 class="logo">
            <a href="https://slamalphas.org" title="Slam Alphas">
              <span class="logo-name">Slam Alphas</span>
              <span class="logo-symbol" aria-hidden="true"></span>
            </a>
          </h1>
          <button class="logo-burger" type="button" title="open navigation">&#9776;</button>
        </div>

        <%=render partial: "shared/navigation" %>

      </header>

      <% if @alphas %>
        <%=render partial: "shared/list" %>
      <% end%>

      <div class="flashes">
        <% flash.each do |name, msg| -%>
          <div class="inner">
            <%= content_tag :p, msg, class: name %>
          </div>
        <% end -%>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
